/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

/* E la vamos nós! */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(circle, rgba(35, 22, 70, 0.955) 18%, rgb(41, 72, 100) 100%);
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.wrapper {
  border: solid rgba(42, 2, 56, 0.955);
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #300a60;
  box-shadow: 5px 10px 20px rgb(216 104 255 / 53%);
}

.game-details {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: radial-gradient(circle, rgb(76 203 99 / 96%) 18%, rgb(33 8 64) 100%);
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}


.play-board .food {
  border-radius: 6px;
  background: radial-gradient(circle, rgba(242, 6, 6, 0.955) 18%, rgb(124, 17, 17) 100%);
  box-shadow: 3px 2px 2px #a4333357;
}

.play-board .head {
  border-radius: 3px;
  background: #07ff02;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}

.start-button {
  padding: 12px 23px;
  border-radius: 3px;
}

/* Modal del gameOver */
button:hover {
  background: #8286c9;
}

.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 0 10px;
  transition: opacity 0.4s ease;
}

.game-modal.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s 0.4s ease;
}

.game-modal .content {
  padding: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.game-modal img {
  max-width: 130px;
  margin-bottom: 20px;
}

.game-modal h4 {
  font-size: 1.53rem;
}

.game-modal p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}

.game-modal p b {
  color: #089115;
  font-weight: 600;
}

.game-modal button {
  padding: 12px 23px;
  border-radius: 3px;
}
